{#
/**
 * @file
 * Default theme implementation for the A11Y Project Checklist form.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<style>
  .vertical-tabs__menu-link {
    text-transform: capitalize;
  }
</style>

<form{{ attributes }}>
  {{ children }}
</form>

<h2>About</h2>
<p>This checklist was made by the incredible volunteers at <a href="https://www.a11yproject.com/checklist/">The A11Y Project</a> and ported into a  Drupal Checklist using by <a href="https://kanopi.com">Kanopi Studios</a>.</p>
<p>This checklist uses <a class="c-wcag-explanation__link" href="https://www.w3.org/WAI/standards-guidelines/wcag/">The Web Content Accessibility Guidelines (<abbr>WCAG</abbr>)</a> as a reference point. The WCAG is a shared standard for web content accessibility for individuals, organizations, and governments.</p>
<p>There are three levels of accessibility compliance in the WCAG, which reflect the priority of support:</p>
<p><strong>A: Essential</strong> If this isn't met, assistive technology may not be able to read, understand, or fully operate the page or view.</p>
<p><strong>AA: Ideal Support</strong> Required for <a class="c-wcag-explanation__link" href="https://www.w3.org/WAI/policies/">multiple government and public body websites</a>. The A11Y Project strives for AA compliance.</p>
<p><strong>AAA: Specialized Support</strong> This is typically reserved for parts of websites and web apps that serve a specialized audience.</p>
<p>This checklist targets many, but not all level A and AA concerns. Note that the different levels of WCAG support do not necessarily indicate an increased level of difficulty to implement.</p>
<h2>Success criteria</h2>
<p>Each item on this checklist has a corresponding WCAG “success criterion.” Success criterion are the specific, testable rules that power the WCAG, described by a reference number and short title. For example, the rule about text resizing is called <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/visual-audio-contrast-scale.html">1.4.4 Resize text</a>.</p>
<p>Some accessibility issues may have multiple success criterion apply to them. We have identified the one most relevant for each checklist item.</p>
<h2>Does this checklist guarantee my site is accessible?</h2>
<p>No. However, addressing the issues called out in this checklist will help improve the experience for everyone who uses your site.</p>
<p>The issues this checklist prompts you to check for covers a wide range of disability conditions. There is no such thing as “perfect accessibility” or a site being “100% accessible.” You should be wary of companies and services that make such promises. If you need professional accessibility help, use <a href="https://www.a11yproject.com/resources/#professional-testers">professional accessibility services</a>.</p>
<h2>Drupal Workflow</h2>
<p>Check off each item as you complete them and click <strong>Save</strong>! The time, date and user will be saved in the database, and can be exported as configuration.</p>
